html {
	background-color: lightgrey;
}
body {
	margin: 0;
	color: lightgrey;
}
a {
	color: lightgrey;
	text-decoration: none;
}
header {
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 100%;
	height: 12vh;
	background-color: black;
	padding: 2vh;
	position: fixed;
	
}
header #logo {
	position: absolute;
	left: 10%;
	font-size: 10vh;
}
header ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 10%;
	padding-right: 0;
	margin-top: 2vh;
	width: 50%;
}
header ul li {
	font-size: 3.5vh;
}
/*#a-ground {
	margin-right: 20%;
}*/
#stars {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: url(../imgs/ciel.jpg);
	background-size: 100% 120vh;
	background-repeat: no-repeat;
}
#stars h2 {
	color: white;
}
#sky {
	position: relative;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background-image: url(../imgs/giphy.webp);
	background-size: 100% 120vh;
	background-repeat: no-repeat;
}
#forest {
	width: 100%;
	height: 100vh;
	background-image: url(../imgs/foret.jpg);
	background-size: 100% 120vh;
	background-repeat: no-repeat;
}
#ground {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: url(../imgs/sol.jpg);
	background-repeat: repeat;
}
#ground h2 {
	color: white;
}
.active {
	font-weight: bold;
	color: white;
}
#sky h2 {
	position: absolute;
	color: black;
	font-weight: bold;
}
#p-1 {
	top: 15vh;
	right: 60%;
}
#p-2 {
	top: 40vh;
	left: 60%;
}
#p-3 {
	top: 65vh;
	right: 60%;
}
#cross {
	position: relative;
	left: 15%;
	top: 70vh;
	z-index: 1;
	width: 70%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 10px 10px black;
	transition: 0.7s;

}
#cross button {
	background-color: orange;
	color: white;
	outline: 0;
	width: 20%;
	height: 10vh;
	border-radius: 10px;
	border: none;
	transition: 0.5s;
}
#cross button:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 5px black;
}
footer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 1s;
}
#modal {
	position: relative;
	z-index: 4;
	margin-top: 10vh;
	margin-left: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 80vh;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 10px 10px black;
}
#modal h1 {
	color: black;
	display: flex;
	flex-direction: column;
}
#modal button {
	position: absolute;
	top: 5vh;
	right: 5%;
}
#modal button {
	background-color: orange;
	color: white;
	outline: 0;
	width: 10%;
	height: 5vh;
	border-radius: 10px;
	border: none;
	transition: 0.5s;
}
#modal button:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 5px black;
}
.d-none {
	display: none !important;
}